* {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Sirin Stencil', cursive;
}

body {
    background-color: white;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 60px;
    color: red;

    
}

.jerry-vector {
    width: 140px;
    height: 150px;
    display: inline-flex;
    justify-content: center;
  
}

p {
  font-family: 'Josefin Sans', sans-serif;;
    padding: 30px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    
}

.top-container {

    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 200px;
    margin-right: 200px;
    
}

